body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  .active {
    color: #ec447d;
  }
  &.nav-item.active {
    border-bottom-color: var(--primary-color);
  }
  &.sidebar-link.active {
    border-color: var(--primary-color);
    color: var(--primary-color)
  }
}

pre, code, kbd, samp {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}