:root {
  --primary-color: #34A853;
  --primary-color-hover: #5db975;
  --primary-color-pressed: #2f974b;

  --border-color: #eaecef;
  --sidebar-width: 320px;
  --page-content-width: 740px;
  
  // navbar
  --navbar-height: 60px;
  --navbar-padding-size: 24px;
}