.mg-button {
  background-color: #f6f6f7;
  border: 1px solid rgba(60, 60, 67, .29);
  white-space: nowrap;
  border-radius: 4px;
  padding: 0 16px;
  line-height: 38px;
  font-size: 14px;
  cursor: pointer;
  transition: color .25s, border-color .25s, background-color .25s;
  &:hover {
    background-color: #e3e3e5;
  }
  &:active {
    background-color: #d7d7d9;
  }
}